.navcontainer {
    align-items: center;
    width: 100vw;
    padding: 50px;
  }


  .mycard{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0px;
  }

  .card{
    width: 25vw;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    padding: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }

  .card p{
    color:gray;
  }

  .navcontainer h3{
    font-weight: bold;
    text-align: center;
  }

  .navcontainer span{
    color:#4285f4 !important;
  }


  

 
  